
    hr{
        background-color: chocolate;
        border-style: none;
        border-top-style: dotted;
        height: 0.8px;
        width: 100%;
    }
    body{
        width: 80%;
        background-color:#E7F6F2;
    }
    h1{
        color: #66BFBF;
    }
    h2{
        color: #66BFBF;
    }
    h3{
        color: #66BFBF;
    }
